.atendimento-banner {
    background: linear-gradient(120deg, #2F4EDA,#0d1e68, #192A74); /* Azul BMW */
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 16px;
}

.atendimento-banner p {
    margin: 0;
}

.atendimento-banner a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 5px;
    transition: color 0.3s ease;
}

.atendimento-banner a:hover {
    color: #d6e9f8; /* Azul clarinho no hover */
}
