.carousel-container {
    position: relative;
    width: 100%; /* O carrossel vai ocupar toda a largura disponível */
    max-width: auto; /* Largura fixa do carrossel */
    height: 550px; /* Ajuste a altura do carrossel */
    margin: 0 auto; /* Centraliza o carrossel horizontalmente */
    overflow: hidden; /* Garante que nada saia da área visível */
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 auto; /* Cada slide ocupa 100% da largura do carrossel */
    width: 100%; /* O slide vai ocupar 100% da largura disponível */
    height: 100%; /* O slide vai ter a altura do carrossel */
}

.carousel-item img {
    width: 100%; /* A imagem vai preencher 100% da largura do slide */
    height: 100%; /* A imagem vai preencher 100% da altura do slide */
    object-fit: cover; /* A imagem será ajustada para cobrir o espaço sem distorcer */
}

/* Estilo dos botões (setas) */
button {
    position: absolute;
    top: 50%;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    background: none; /* Remove o fundo, pois as imagens já são transparentes */
    box-shadow: none; /* Remove qualquer sombra */
}

/* Estilo para a seta anterior */
.prev {
    left: 10px;
    transform: translateY(-50%);
}

/* Estilo para a seta próxima */
.next {
    right: 10px;
    transform: translateY(-50%);
}

/* Estilo para os pontos de navegação */
.dots-container {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.dot.active {
    background-color: #fff;
}
