body {
  background-color: black;
}

.icons img {
  width: 20px;
  height: 20px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: 1em;
  z-index: -1;
}

.icons a {
  position: relative;
  transition: 0.4s ease-in-out;
}

.icons a::after {
  content: "";
  position: absolute; 
  width: 0.5em;
  height: 0.5em;
  left: 1;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(233, 233, 233, 0.5),
    0px 0px 10px rgba(192, 192, 192, 0.5);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.icons a:hover{
  scale: 1.2;
}

.icons a:hover::after{
  scale: 4;
  transform: translateX(0.09em) translateY(0.11em);
}
