/* Seção inicial com a imagem de fundo */
.hero-section {
    height: 100vh; /* A altura vai ocupar toda a tela */
    background-image: url('../img/background-main/bg.jpg'); /* Imagem de fundo */
    background-size: cover; /* A imagem vai cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    display: flex;
    color: white;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: flex-start; /* Move o conteúdo para a esquerda */
    align-items: center; /* Mantém o conteúdo centralizado verticalmente */
}

.hero-content {
    display: flex;
    flex-direction: column; /* Mantém os textos um abaixo do outro */
    align-items: flex-start; /* Alinha os itens à esquerda */
    text-align: left; /* Faz o texto começar da esquerda */
    padding-left: 100px;/* Ajusta a posição para não colar na borda */
    position: relative;
    top: -100px; /* Ajuste esse valor para subir mais */
}

.hero-content h1, 
.hero-content p {
    max-width: 50%; /* Define que o texto ocupará no máximo 50% da largura da tela */
    word-wrap: break-word; /* Garante que as palavras sejam quebradas corretamente */
    line-height: 1.5; /* Ajusta o espaçamento entre as linhas para melhor leitura */
    color: #f0f0f0;
}

.hero-content h1 {
    font-family: "Clash Display", sans-serif;
    font-size: 3.5rem; /* Tamanho do título */
    margin-bottom: 10px; /* Adiciona um espaçamento entre o título e o parágrafo */
    font-weight: 600;
    
}

.hero-content p {
    font-family: "Clash Display", sans-serif;
    font-size: 1.5rem; /* Tamanho do parágrafo */
    margin-top: 0;
}

/* Efeito quando o usuário rolar para baixo */
body.scrolled .hero-section {
    display: none; /* Esconde a imagem quando rolar */
}

/* Adicionando a transição suave */
.hero-section, .main-content {
    transition: all 0.3s ease-in-out;
}

.content {
    margin-top: 75px; /* Mesmo valor da navbar + um pequeno espaçamento */
}
.botoes-container {
    display: flex; /* Alinha os botões lado a lado */
    gap: 20px; /* Espaço entre os botões */
    justify-content: center; /* Centraliza na tela */
    align-items: center; /* Mantém alinhado verticalmente */
    align-self: left; /* Centraliza apenas este elemento dentro do flex container */
    margin-top: 22px;
}

.saibaMais {
    cursor: pointer;
    padding: 1.4em;
    font-size: 1em;
    width: 12em;
    color: white;
    background: #212121;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 50px;
    outline: 0.1em solid #353535;
    border: 0;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    position: relative;
}

.saibaMais:hover {
    transform: scale(1.1);
    border: none; 
    box-shadow: 0 0 1em 0.45em rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #212121, #252525);
    background: radial-gradient(
    circle at bottom,
    rgba(50, 100, 180, 0.5) 10%,
    #212121 70%
    );
    outline: 0;
}


/* outra versão muito top */
/* .saibaMais {
    cursor: pointer;
    padding: 1em;
    font-size: 1em;
    width: 7em;
    aspect-ratio: 1/0.25;
    color: white;
    background: #212121;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 0.5em;
    outline: 0.1em solid #353535;
    border: 0;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    position: relative;
}

.saibaMais:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1em 0.45em rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #212121, #252525);
    background: radial-gradient(
    circle at bottom,
    rgba(50, 100, 180, 0.5) 10%,
    #212121 70%
    );
    outline: 0;
} */